*{
  margin: 0;
  padding: 0;
}

body{
  background-color:green;
  --scrollbar-width: calc(100vw - 100%)
}

header{
  height: 300px;
  width: calc(100vw - var(--scrollbar-width));
  background-image: url(./images/header.png);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > h1{
  color: white;
  margin-bottom: 20px;
}

header > .resetBtn{
  height: 50px;
  width: 200px;
  border: none;
  outline: none;
  background-color: rgb(33, 92, 160);
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 2px solid rgb(33, 92, 160);
  transition: 0.3s;
}

.resetBtn:hover{
  cursor: pointer;
  border: 2px solid white
}

.board{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap:30px;
  padding-bottom: 30px;
}

.card{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 16px;
  justify-self: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
}

.card > img{
  height: 152px;
  width: 152px;
}

.back{
  backface-visibility: hidden;
  position: absolute;
}

.front{
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.show{
  transform: rotateY(180deg);
}

.chooseSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chooseLabel{
  color: white;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.chooseSelector{
  height: 30px;
  width: 200px;
  margin-bottom: 20px;
  border: none;
  appearance: none;
  outline: none;
  border-radius: 5px;
  background:  rgb(33, 92, 160);
  color: white;
  text-align: center;
  font-size: 1rem;
  border: 2px solid  rgb(33, 92, 160);
  transition: 0.3s;
}

.chooseSelector:hover{
  cursor: pointer;
  border: 2px solid white;
}

footer{
  height: 50px;
  background-image: url(./images/header.png);
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
}

@media screen and (max-width:1280px) {
  .board{
    grid-template-columns: repeat(4, 1fr);
  }

  .card{
    width: 180px;
    height: 180px
  }

  .card > img{
    height: 130px;
    width: 130px;
  }
}

@media screen and (max-width:850px) {
  .board{
    grid-template-columns: repeat(3, 1fr);
  }

  .card{
    width: 180px;
    height: 180px
  }

  .card > img{
    height: 130px;
    width: 130px;
  }
}

@media screen and (max-width:650px) {
  .board{
    grid-template-columns: repeat(2, 1fr);
  }

  .card{
    width: 150px;
    height: 150px
  }

  .card > img{
    height: 100px;
    width: 100px;
  }
}